{view name="Common/header"}
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="{:u('manage')}">{config name="MANAGE_NAME"}</a>
            </div>
            <div class="left_open">
                <i title="展开左侧栏" class="iconfont">&#xe699;</i>
            </div>
            <ul class="layui-nav left fast-add" lay-filter="">
            </ul>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a _href="/" id="clearCache">清除系统缓存</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">{$user_auth['name']}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <!--<dd>
                            <a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a>
                        </dd>-->
                        <dd>
                            <a href="{:u('Manage/Auth/logout')}">退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="{:u('Home/Index/index')}" target="_blank">前台首页</a>
                </li>
            </ul>

        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    {menu parent="0" value="$menu"}
                        <li>
                            <a href="javascript:;">
                                <cite>{$menu['menu_name']}</cite>
                                <i class="iconfont nav_right">&#xe697;</i>
                            </a>
                            {hasmenu value="$menu['id']"}
                                <ul class="sub-menu">
                                    {menu parent="$menu['id']" value="$menu1"}
                                        {if in_array(\Top\Url::build($menu1['url']), $rules)}
                                            <li>
                                                <a _href="{:u($menu1['url'])}">
                                                    <i class="iconfont">&#xe6a7;</i>
                                                    <cite>{$menu1['menu_name']}</cite>
                                                </a>
                                                {hasmenu value="$menu1['id']"}
                                                    <ul class="sub-menu">
                                                        {menu parent="$menu1['id']" value="$menu2"}
                                                            {if in_array(\Top\Url::build($menu2['url']), $rules)}
                                                                <li>
                                                                    <a _href="{:u($menu2['url'])}">
                                                                        <i class="iconfont">&#xe6a7;</i>
                                                                        <cite>{$menu2['menu_name']}</cite>
                                                                    </a>
                                                                </li>
                                                            {/if}
                                                        {/menu}
                                                    </ul>
                                                {/hasmenu}
                                            </li>
                                        {/if}
                                    {/menu}
                                </ul>
                            {/hasmenu}
                        </li>
                    {/menu}
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="{:u('/Manage/Index/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        <!-- 底部开始 -->
        <div class="footer">
            <div class="copyright">{config name="FOOTER_TEXT"}</div>
        </div>
        <!-- 底部结束 -->
        <script>
            $('#clearCache').click(function () {
                var load = layer.load(2);
                $.post("{:u('/Manage/Index/clear')}", '', function (d) {
                    if (d.status == 1) {
                        layer.close(load);
                        layer.msg('缓存清除成功', {icon: 1});
                    } else {
                        layer.close(load);
                    }
                }, 'json');
            });
        </script>
{view name="Common/footer"}