{view name="Common/header"}
<div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>角色管理</cite>
            </a>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('新增角色','{:u('/Manage/Group/add')}')"><i class="layui-icon"></i>新增角色</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：{$number} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>角色名称</th>
            <th>备注</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $list as $vo}
        <tr>
            <td width="2%">
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="{$vo['id']}"><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$vo['id']}</td>
            <td>{$vo['name']}</td>
            <td>{$vo['remark']}</td>
            <td>{if $vo['status']}启用{else /}禁用{/if}</td>
            <td class="td-manage">
                <a title="权限管理" class="layui-btn layui-btn-xs" onclick="x_admin_show('权限管理','{:u('/Manage/Group/distributionRule/id/' . $vo['id'])}')" href="javascript:;">权限管理</a>
                <a title="编辑" class="layui-btn layui-btn-warm layui-btn-xs" onclick="x_admin_show('编辑','{:u('/Manage/Group/edit/id/' . $vo['id'])}')" href="javascript:;"><i class="layui-icon">&#xe642;</i>编辑</a>
                <a title="删除" class="layui-btn layui-btn-danger layui-btn-xs" onclick="group_del(this,'{$vo['id']}')" href="javascript:;"><i class="layui-icon">&#xe640;</i>删除</a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
</div>
<script>
    /*删除*/
    function group_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            $.post("{:u('/Manage/Group/delete')}", {id: id}, function(data) {
                if(data.status == 1) {
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {
                        icon: 1,
                        time: 1000
                    });
                } else {
                    layer.msg(data.result, {icon: 5});
                }
            }, 'json');
        });
    }

    function delAll(argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？' + data, function(index) {
            $.post("{:u('/Manage/Group/delete')}", {id: data}, function (data) {
                if (data.status == 1) {
                    layer.msg('删除成功', {
                        icon: 1
                    });
                    $(".layui-form-checked").not('.header').parents('tr').remove();
                } else {
                    return false;
                }
            }, 'json');
        });
    }
</script>
{view name="Common/footer"}