{view name="Common/header"}
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>数据表名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="model_table" name="model_table" value="{$info['model_table']}" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>数据表名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>模型名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="model_name" name="model_name" value="{$info['model_name']}" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>模型名称
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>存储引擎
            </label>
            <div class="layui-input-inline">
                <select name="model_engine" id="model_engine">
                    <option value="MyISAM" {if $info['model_engine'] == 'MyISAM'}selected{/if}>MyISAM</option>
                    <option value="InnoDB" {if $info['model_engine'] == 'InnoDB'}selected{/if}>InnoDB</option>
                    <option value="MEMORY" {if $info['model_engine'] == 'MEMORY'}selected{/if}>MEMORY</option>
                    <option value="MERGE" {if $info['model_engine'] == 'MERGE'}selected{/if}>MERGE</option>
                    <option value="BDB" {if $info['model_engine'] == 'BDB'}selected{/if}>BDB</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>数据表类型
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                列表模板
            </label>
            <div class="layui-input-inline">
                <input type="text" id="list_display" name="list_display" value="{$info['list_display']}" required="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                如果有其他需求可在此处自定义列表模板
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                排序
            </label>
            <div class="layui-input-inline">
                <input type="number" id="sort" name="sort" value="{$info['sort']}" required="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                数字越小越靠前
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                保存
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(add)', function(data) {
            $.post("{:u('/Manage/Model/edit/id/' . $id)}", data.field, function(d) {
                if (d.status == 1) {
                    //发异步，把数据提交给php
                    layer.alert("保存成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.window.location.reload();
                    });
                } else {
                    layer.msg(d.result, {icon: 5});
                }
            }, 'json');
            return false;
        });

    });
</script>
{view name="Common/footer"}